<html xmlns:th="http://www.thymeleaf.org"
      xmlns:security="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <title>Account Images</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/account/images" th:href="@{/account/images}">Account Images</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li security:authorize="isAuthenticated()"><a href="/logout" th:href="@{/logout}">Logout</a></li>
                <li><a href="/upload" th:href="@{/upload}">Upload</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class="col-6 right_column m-auto">
    <h2 class="display-3 text-center">
        Your Images: <span style="color:royalblue;" th:text="${#authentication.name}">User</span>
    </h2>
    <div class="form-group display-3 text-right">
        <form method="GET" action="/account/images" class="form-inline">
            <label>
                <input type="text" name="filter" id="filter" size="20"
                       class="form-control" th:value="${filter}" required aria-label="Search">
            </label>
            <button type="submit" class="btn btn-primary ml-2">Search</button>
            <input type="button" class="btn btn-primary ml-2" value="Clear" id="btnClear" onclick="clearSearch()" />
            <script type="text/javascript">
                function clearSearch() {
                    window.location = "[[@{/account/images}]]";
                }
            </script>
        </form>
    </div>
</div>
<table id="example" class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>I.Num.</td>
        <td>Title</td>
        <td>Image</td>
        <td>Tag</td>
        <td>Type</td>
        <td>Created date</td>
    </tr>
    </thead>
    <tbody th:with="count=0">
    <tr th:each="image : ${list}">
        <td th:with="count=${count + 1}" th:text="${count}"></td>
        <td th:text="${image.name}"></td>
        <td><img th:src="@{${'/image/display/'+ image.id}}"
                 class="card img-fluid" style="width:300px"/></td>
        <td th:text="${image.tag}"></td>
        <td th:text="${image.type}"></td>
        <td th:text="${#dates.format(image.createDate, 'dd-MM-yyyy')}"></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
</body>
</html>